html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Jost', sans-serif;
  background: #000000;
  color: #ffffff;
}

.content>h2 {
  margin: 10% 0;
  font-size: 4rem;
}

.img-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}