html {
  box-sizing: border-box;
  scroll-behavior: smooth;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: 'Jost', sans-serif;
  background: #000000;
  color: #ffffff;
  margin: 0;
}


.icon-link {
  text-decoration: none;
  color: #333;
  font-size: 24px;
}

.icon-link:hover {
  color: #CCCC99;
}

.content {
  display: grid;
  grid-auto-rows: 150px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
  height: 300px;
  width: 300px;
  place-content: left;
  /*display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 100px);
  grid-row: 1/-1;*/
}

.url-link {
  text-decoration: none;
  color: #ffffff;
}

.url-link:hover {
  color: #CCCC99;
}

.content-box {
  background: #000000;
}